body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}

th {
  text-align: center;
}
thead {
  background-color: lightred;
}



label{


    display: block;


    float: center;

    text-align: center;
}

input#connexion{
	
	margin-top: 30px;
}

input#ajout{

	margin-top: 30px;
	margin-bottom: 50px;
	

}

input#update{

	margin-top: 20px;
	margin-bottom: 50px;

}

input#search{
	
	margin-bottom: 30px;
	
}

h1#form, h1#details{
	
	margin-bottom: 50px;
	
}



h3#form{
	
	margin-bottom: 30px;
	
}

h3#details{
	margin-top: 50px;
	margin-bottom: 30px;
}
h3{
	
	margin-bottom: 50px;
	
}



